@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manage Account</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/VitalFlow.styles.css" asp-append-version="true" />

    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #000; /* Promijenili smo boju naslova u crnu */
            text-align: center; /* Centrirali naslov */
        }

        .glassy-container {
            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            padding: 20px;
            margin: 20px 0;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .col-md-3, .col-md-9 {
            padding: 15px;
        }

        .form-control {
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }

            .form-control::placeholder {
                color: #ccc;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Pregled profila</h1>

        <div class="glassy-container">
            <h2>Ažuriraj podatke profila</h2>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
