@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

        .moto-container {
            width: calc(100% - 60px);
            margin: 0 30px;
            height: 70vh;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            padding-bottom: 30px
        }

        .moto-content {
            text-align: center;
        }

            .moto-content h1 {
                font-family: 'Lobster', cursive;
                font-size: 150px;
                color: #fff;
                margin-bottom: 10px;
            }

            .moto-content p {
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="moto-container">
        <div class="moto-content">
            <h1>VitalFlow</h1>
            <p>Where Every Drop Counts</p>
        </div>
    </div>
</body>
</html>
