<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VitalFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/VitalFlow.styles.css" asp-append-version="true" />

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        .onama-container {
            width: 70vw; 
            height: 70vh; 
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

            .onama-container h1 {
                font-size: 36px;
                color: #fff;
            }

            .onama-container p {
                font-size: 18px;
                line-height: 1.6;
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="onama-container">
        <h1>Vital Flow</h1>
        <p>
            Dobrodošli u VitalFlow - vašu sigurnu luku za zdravlje i humanost. Mi smo tim posvećen pružanju inovativnih rješenja u svijetu krvnih banaka, omogućujući brzu i učinkovitu razmjenu životno važnih resursa. Sa strašću za zdravlje i brigom za zajednicu, naša misija je osigurati da svaki kapljica krvi ima moć promijeniti nečiji život nabolje.
        </p>
        <p>
            VitalFlow je više od aplikacije - to je zajednica koja povezuje ljude i spašava živote. Kroz našu platformu, osnažujemo krvne banke i donatore da rade zajedno u stvaranju pozitivne promjene. Naša vizija je svijet u kojem svaka osoba ima pristup sigurnoj i kvalitetnoj krvi kad im je najpotrebnija.
        </p>
        <p>
            Mi smo VitalFlow - inovatori u području medicinskog humanizma. Naša platforma spaja tehnologiju i humanost kako bi olakšala pristup krvi u hitnim situacijama. S ponosom podržavamo zdravlje zajednice i aktivno radimo na stvaranju boljeg sutra za sve nas.
        </p>
        <p>
            VitalFlow je rezultat strasti i predanosti prema spašavanju života. U našoj priči, svaki donor, svaka transfuzija, svaki korak naprijed je priča o nadi i humanosti.
        </p>
    </div>
</body>
</html>
